::selection{
  color:#fff;
  background-color: #ff5757;
}

.btn{
  background-color: #ff5757;
    padding: 10px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
    border: 1px solid #ff5757;

}
.btn:hover{
  background-color: transparent;
  color: #ff5757;
  border: 1px solid #ff5757;
}
.heroImg{
  transform: translateY(-50%);
}
.navArrows .fa-solid{
  /* transform: translateY(-50%); */
  /* position: fixed; */
}
@media screen and (max-width: 520px){
  .heroImg{
    position: relative;
  }
}
.accordion {
  display: flex;
  flex-direction: column;
  font-family: "Sora", sans-serif;
  max-width: 991px;
  margin: 50px auto;
  padding: 0 50px;
}
.accordion h1 {
  font-size: 32px;
  text-align: center;
}
.accordion-item {
  margin-top: 16px;
  border: 1px solid #fcfcfc;
  border-radius: 6px;
  background: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}
.accordion-item .accordion-item-title {
  position: relative;
  margin: 0;
  display: flex;
  width: 100%;
  font-size: 15px;
  cursor: pointer;
  justify-content: space-between;
  flex-direction: row-reverse;
  padding: 14px 20px;
  box-sizing: border-box;
  align-items: center;
}
.accordion-item .accordion-item-desc {
  display: none;
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  color: #444;
  border-top: 1px dashed #ddd;
  padding: 10px 20px 20px;
  box-sizing: border-box;
}
.accordion-item input[type="checkbox"] {
  position: absolute;
  height: 0;
  width: 0;
  opacity: 0;
}
.accordion-item-desc{
border-radius: 0px 7px;
}
.accordion-item input[type="checkbox"]:checked ~ .accordion-item-desc {
  display: block;
}
.accordion-item
  input[type="checkbox"]:checked
  ~ .accordion-item-title
  .icon:after {
  content: "-";
  font-size: 20px;
}
.accordion-item input[type="checkbox"] ~ .accordion-item-title .icon:after {
  content: "+";
  font-size: 20px;
}
.accordion-item:first-child {
  margin-top: 0;
}
.accordion-item .icon {
  margin-left: 14px;
}

@media screen and (max-width: 767px) {
  .accordion {
      padding: 0 16px;
  }
  .accordion h1 {
      font-size: 22px;
  }
}




.testimonial-slider {
  position: relative;
  /* overflow: hidden; */
}

.testimonial {
  
  transition: transform 0.5s ease;
}

.dots {
  position: absolute;
  bottom: -27px;
  left: 50%;
  transform: translateX(-50%);
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 5px;
  cursor: pointer;
}

.dot.active {
  background-color: #333;
}


.fa-instagram:hover{
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  -webkit-background-clip: text;
          /* Also define standard property for compatibility */
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.serviceItem{
    background-color: #ff5757;
    padding: 2% 5%;
    border-radius: 9px;
    color: #fff;
}

.serviceItems li{
  margin-bottom: 30px;
}
.serviceDetails{
  display: none;
  transition: all 0.8s ease-in-out;
}
.serviceItems li:hover .serviceDetails{
  display: block;
  color: #fff;
}