.btn{
  background-color: #ff5757;
    padding: 10px 20px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}
.btn:hover{
  background-color: transparent;
  color: #ff5757;
  border: 1px solid #ff5757;
}