.navBarWrapper{
  padding: 22px 0px;
}
.logo .logoName{
  font-size: 23px;
  font-weight: 800;
  position: relative;
}
.logo .logoName::after{
  content: '';
  position: absolute;
  width: 8px;
  height: 8px;
  bottom: 10px;
  border-radius: 30px;
  background-color: #FF5757;
}
.menuList{
  font-weight: 600;
  gap: 30px;
}
.menuList li{
  position: relative;
}

.menuList li::before{
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #FF5757;
  bottom: 0;
  transition: all 0.2s ease-in-out;
}
.menuList li:hover::before {
  width: 100%;
}
.responsiveIcons{
  cursor: pointer;
}

@media screen and (max-width: 978px) {
  .responsiveIcons .fa-solid{
    visibility: visible;
  }
  .menuList{
    flex-direction: column;
  }
  .navBarWrapper{
    padding: 22px;
  }
}